.loading-screen {
  margin-top: 26vh;
}
.loading-message{
  text-align: center;
  vertical-align: middle;
  color: #1DB954;
  font-size: 28px;
  margin-top: 15px;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results{
  display: flex;
}

.personality-side{
  margin: 40px;
  width: 50%;
}

.playlist-side{
  margin: 40px;
  width: 50%;
  font-size: 30px;
}

.personality-header{
  display: flex;
  font-weight: bolder;
  font-size: 30px;
}

.reg-personality-text{
  color: #1DB954;
}

.personality-letters{
  margin-top: 20px;
  font-weight: bolder;
  font-size: 30px;
  color: #1DB954;
}

.personality-desc{
  margin-top: 20px;
}

.player {
  margin-top: 20px;
}

.make-playlist-section{
  display:flex;
}

.make-playlist-link {
  color: #1DB954;
}

.make-playlist-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.letter-description{
  color: black
}

.first-letter, .second-letter, .third-letter, .fourth-letter{
  display: flex;
}

.mbti-button {
  display: none;
}
